<ul>
      <li>
        <a href = "{{ '/' | relative_url }}">
          홈
        </a>
      </li>
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          어바웃
        </a>
      </li>
      <li>
        <a href = "{{ 'gallery/' | relative_url }}">
          갤러리
        </a>
      </li>
      <li>
        <a href = "{{ 'location/' | relative_url }}">
          오시는 길
        </a>
      </li>
      <li>
        <a href = "{{ 'contact/' | relative_url }}">
          마음 전하실 곳
        </a>
      </li>
</ul>
