---
layout: description
title: Blog
pagetype: blog
---
<!-- This loops through the paginated posts -->
<div id="area4" idx="4" class="call">
        <div class="grid_box">
            <dl>
                <dt>
                    <span class="blue">신랑1</span>
                </dt>
                <dd><a href="tel:01041351599"><img src="https://static.barunsoncard.com/barunsonmcard/invitation/icon/ico_24_call.svg" width="24" alt="전화 아이콘"></a></dd>
                <dd><a href="sms:01041351599"><img src="https://static.barunsoncard.com/barunsonmcard/invitation/icon/ico_24_sms.svg" width="24" alt="SMS 아이콘"></a></dd>
            </dl>
            <dl>
                <dt>
                    <span class="blue">신부</span>
                </dt>
                <dd><a href="tel:01048651599"><img src="https://static.barunsoncard.com/barunsonmcard/invitation/icon/ico_24_call.svg" width="24" alt="전화 아이콘"></a></dd>
                <dd><a href="sms:01048651599"><img src="https://static.barunsoncard.com/barunsonmcard/invitation/icon/ico_24_sms.svg" width="24" alt="SMS 아이콘"></a></dd>
            </dl>
        </div>
            <section class="onoff_2">
                <div class="list_wrap">
                    <button type="button" class="info_detail">정보 더보기</button>
                    <ul class="grid_box">
                        <li>
                            <h3>신랑 측 혼주</h3>
                                <div class="list_con" style="display: block;">
                                    <p>
                                            <span>아버지</span>
                                            <span class="name">
                                                김제중
                                            </span>
                                    </p>
                                </div>
                                <div class="list_con" style="display: block;">
                                    <p>
                                            <span>어머니</span>
                                            <span class="name">
                                                김희원
                                            </span>
                                    </p>
                                </div>
                        </li>
                        <li>
                            <h3>신부 측 혼주</h3>
                                <div class="list_con" style="display: block;">
                                    <p>
                                            <span>아버지</span>
                                            <span class="name">
                                                LUONG QUOC VINH
                                            </span>
                                    </p>
                                </div>
                                <div class="list_con" style="display: block;">
                                    <p>
                                            <span>어머니</span>
                                            <span class="name">
                                                NGUYEN TRONG ANH TUYET
                                            </span>
                                    </p>
                                </div>
                        </li>
                    </ul>
                </div>
            </section>
    </div>

<div class="remittance">
            <div id="area12" idx="12" class="templatearea bindarea" style="height:223px; ">


            </div>
    <div id="area13" idx="13" class="btn_wrap">
        <a href="#" class="btn an_btn type03 groom" data-idx="1">신랑 측 계좌번호</a>
        <a href="#" class="btn an_btn type03 bride" data-idx="2">신부 측 계좌번호</a>
    </div>
</div>

<div class="account_pop" data-idx="1" style="display: none;">
    <div class="layer_pop">
        <div class="account_list">
            <!-- Groom's account information here -->
            <dl>
                <dt>
                    <span>신랑</span>&nbsp;&nbsp;계좌
                    <a href="#" class="copy_account copy_btn" data-account="60091037995107">복사하기</a>
                </dt>
                <dd>
                    <span>하나은행</span>&nbsp;&nbsp;(예금주 : <span>이호준</span>)
                </dd>
                <dd>
                    <span>60091037995107</span>
                </dd>
            </dl>
            <!-- More accounts here -->
        </div>
        <div class="btn_wrap type01">
            <a href="#" class="btn close">닫기</a>
        </div>
    </div>
    <div class="pop_mask"></div>
</div>

<div class="account_pop" data-idx="2" style="display: none;">
    <div class="layer_pop">
        <div class="account_list">
            <!-- Bride's account information here -->
            <dl>
                <dt>
                    <span>신부</span>&nbsp;&nbsp;계좌
                    <a href="#" class="copy_account copy_btn" data-account="1002035203849">복사하기</a>
                </dt>
                <dd>
                    <span>우리은행</span>&nbsp;&nbsp;(예금주 : <span>최희선</span>)
                </dd>
                <dd>
                    <span>1002035203849</span>
                </dd>
            </dl>
            <!-- More accounts here -->
        </div>
        <div class="btn_wrap type01">
            <a href="#" class="btn close">닫기</a>
        </div>
    </div>
    <div class="pop_mask"></div>
</div>


{% if paginator.total_posts == 0 %}
    <p>No posts right now.</p>
{% else %}
<div class="blogPage-categoryList">
    <ul>
    <li><a href="{{ "/categories/" | relative_url }}">Categories</a> : </li>
    {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <li><a href="{{"/categories/#" | append: category_name | relative_url}}">{{category_name}}</a></li>
    {% endfor %}
</ul>
</div>
<ul class="blog-list">
    {% for post in paginator.posts %}
        <li>
            <a class="blog-heading" href="{{ post.url | relative_url }}">{{ post.title }}</a><span class="date">{{ post.date | date_to_string }}</span>
            <div class="excerpt">{{ post.excerpt }}</div>
        </li>
    {% endfor %}
</ul>
{% endif %}

<hr>
{% if paginator.total_pages > 1 %}
<ul>

    {% if paginator.previous_page %}
        <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
        </li>
    {% endif %}
    {% if paginator.next_page %}
        <li>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
        </li>
    {% endif %}
</ul>
{% endif %}
