---
title: Rohit Jain
layout: default
---
<div class="mid-section-home">
    <img src="intro.jpeg" alt="intro picture">
    <h1>Junyoung Kim + Thuc Anh Luong</h1>
    <!-- Make January 11, 2025 clickable and link to the .ics file -->
    <h1>
        <a href="/wedding_event.ics" download="wedding_event.ics">January 11, 2025</a>
    </h1>
    <div class="row sub-heading">
        <div class="summary-about-me">
            <p>{{ page.home_text }}</p>
        </div>
        <div class="nav-link">
            {% include navigation.html %}
        </div>
    </div>
</div>
